<%if(movies) {%>
    <%for(let i = 0; i < movies.length; i++) { %>
        <div id="movie">
            <div id="description">
                <%= movies[i] %>
                directed by
                <%= directors[i] %>
            </div>
            <form action="movies/delete/<%=i%>" method="POST">
                <input type="submit" value="Delete">
                <input name="counter" type="hidden" value="<%=i%>" hidden>
            </form>
        </div>
<% }} %>